* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    color: whitesmoke;
}

.intro {
    font-size: large;
    background-color: darksalmon;
    padding: 5pt;
    border-color: whitesmoke;
    border-style: solid;
}

.button {
    height: 60px;
    width: 100px;
    background-color: rgb(212, 180, 73);
    border-color: whitesmoke;
    border-style: solid;
    border-width: thick;
}

.buttonFont {
    font-size: large;
}

nav {
    display: inline;
}

li {
    list-style: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: small;
    text-align: center;
    background-color: rgb(212, 180, 73);
    font-weight: bold;
}

 a {
     color: white;
     font-size: small;
     font-weight: bold;
 }

 .cats {
    display: flex; 
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
 }

 .cats > img {
    width: 100px;
    text-align: center;
    margin: 10px;
 }

 