* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}

.button {
    height: 30px;
    width: 70px;
    background-color: rgb(212, 180, 73);
    border-color: whitesmoke;
    border-style: solid;
    border-width: thick;

}
/* Look up flex box and float */

li {
    list-style: none;
}